    /* RESET */
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    /*CUSTOMS*/
    
     :root {
        --colore-verde: #009485;
        --colore-sfondo-body-grigio: #DBDBD2;
        --colore-sfondo-colonne: #E6DFD6;
        --white: #fff;
        --notifiche: #8EDAFC;
    }
    /*TYPO*/
    
    body {
        height: 100vh;
        background: linear-gradient(var(--colore-verde) 0%, var(--colore-verde) 20%, var(--colore-sfondo-body-grigio) 20%, var(--colore-sfondo-body-grigio) 100%);
        font-family: 'Lato', sans-serif;
    }
    /*COMMONS*/
    /*CONTAINERS*/
    
    .container {
        width: 80%;
        height: calc(100vh - 20%);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
    }
    
    .container-top {
        background-color: var(--colore-sfondo-colonne);
        padding: 0.5em;
    }
    
    .user-img {
        display: flex;
        align-items: center;
    }
    
    .col-left {
        width: 30%;
    }
    
    .col-right {
        width: 70%;
    }
    
    .notifiche {
        background-color: var(--notifiche);
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
    }
    
    .notifiche i {
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--notifiche);
        font-size: 1.5em;
        padding: 0 15px;
    }
    
    .notifiche span {
        font-size: 12px;
        display: flex;
        align-items: center;
    }
    
    .notifiche small {
        font-size: 11px;
        text-decoration: underline;
        color: gray;
        display: flex;
        align-items: center;
    }
    
    .testo-notifiche {
        margin-left: 10px;
        line-height: 12px;
    }
    
    .container-top:first-child {
        border-left: 1px solid #c2bebe;
    }
    
    .container-top img,
    .notifiche i {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    
    #decoration {
        color: gray;
        font-size: small;
    }
    
    .header-left {
        width: 100%;
        height: 50px;
        background: var(--colore-sfondo-colonne);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }
    
    .nav-menu {
        display: flex;
        list-style: none;
    }
    
    .nav-menu li {
        padding: 0 10px;
        color: lightslategray
    }
    
    .header-right {
        width: 100%;
        height: 50px;
        background: var(--colore-sfondo-colonne);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }
    
    .search-bar {
        display: flex;
        align-items: center;
        padding: 5px;
        background-color: #fafafa;
        height: 40px;
    }
    
    .search-bar input {
        flex-grow: 1;
    }
    
    .search-bar i {
        padding: 0 12px;
    }
    /* .search-bar-input {
        width: 100%;
    }
    
    .lente {
        width: 20%;
        border: 1px solid #ebebeb;
        color: #b1b1b1;
        padding: 3px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        list-style: none;
    } */
    
    .chat-container {
        width: 100%;
        height: calc(100% - 80px);
        overflow-y: auto;
        background-image: url(img/mine.jpg);
    }
    
    .chat-input {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eaeaea;
        padding: 5px 0;
    }
    
    .chat-input-bar {
        width: 90%;
        padding: 10px;
        border-radius: 5px;
    }
    
    .chat-input i {
        color: gray;
        padding: 0 15px;
    }