    /* RESET */
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    /*CUSTOMS*/
    
     :root {
        --colore-verde: #009485;
        --colore-sfondo-body-grigio: #DBDBD2;
        --colore-sfondo-colonne: #E6DFD6;
        --white: #fff;
        --notifiche: #8EDAFC;
    }
    /*TYPO*/
    
    body {
        height: 100vh;
        background: linear-gradient(var(--colore-verde) 0%, var(--colore-verde) 20%, var(--colore-sfondo-body-grigio) 20%, var(--colore-sfondo-body-grigio) 100%);
        font-family: 'Lato', sans-serif;
    }
    /* CONATINER */
    
    .container {
        width: 80%;
        height: 80vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
    }
    
    .container-top {
        display: flex;
        background-color: var(--colore-sfondo-colonne);
        height: 4rem;
    }
    
    .container-top:first-child {
        border-left: 1px solid #c2bebe;
    }
    /* DIVISIONE CONTAINER */
    
    .col-left {
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    
    .header-left {
        background: var(--colore-sfondo-colonne);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .col-right {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    
    .header-right {
        width: 100%;
        background: var(--colore-sfondo-colonne);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* IMG-USER */
    
    .user-img {
        display: flex;
        align-items: center;
        border-radius: 50%;
    }
    
    .contact-img .user-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    .container-top img,
    .notifiche i {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    /* NOTIFICHE */
    
    .notifiche {
        background-color: var(--notifiche);
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
    }
    
    .notifiche i {
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--notifiche);
        font-size: 1.5em;
        padding: 0 15px;
    }
    
    .notifiche span {
        font-size: 12px;
        display: flex;
        align-items: center;
    }
    
    .notifiche small {
        font-size: 11px;
        text-decoration: underline;
        color: gray;
        display: flex;
        align-items: center;
    }
    
    .testo-notifiche {
        margin-left: 10px;
        line-height: 12px;
    }
    
    #decoration {
        color: gray;
        font-size: small;
    }
    /* NAV */
    
    .nav-menu {
        display: flex;
        list-style: none;
    }
    
    .nav-menu li {
        padding: 0 10px;
        color: lightslategray
    }
    /* SEARCH BAR */
    
    .search-bar {
        display: flex;
        align-items: center;
        padding: 5px;
        background-color: #fafafa;
        height: 40px;
    }
    
    .search-bar input {
        flex-grow: 1;
        border: none;
    }
    
    .search-bar i {
        padding: 0 12px;
    }
    /* CONCTACS / CONTACT */
    
    .contacts {
        flex-grow: 1;
        overflow-y: auto;
    }
    
    .contact {
        display: flex;
        border-top: 1px solid #ebebeb;
        padding: 5px 15px;
        cursor: pointer;
        background-color: var(--white);
    }
    
    .contact:hover {
        background-color: #e9ebeb;
    }
    
    .contact:hover {
        background-color: #e9ebeb;
    }
    
    .contact-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: lightslategray;
    }
    
    .contact-name {
        font-weight: 400;
        color: black;
    }
    /* CHAT + INPUT CHAT */
    
    .chat-container {
        width: 100%;
        flex-grow: 1;
        overflow-y: auto;
        background-image: url(img/mine.jpg);
    }
    
    .chat-input {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--colore-sfondo-colonne);
    }
    
    .chat-input-bar {
        width: 90%;
        padding: 10px;
        border-radius: 5px;
        border: none;
    }
    
    .chat-input i {
        color: gray;
        padding: 0 15px;
    }